.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 74.25px);
}

.card {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 2rem;
}
.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardTitle {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.cardTitle1 {
  font-size: 2rem;
  font-weight: 300;
}
.cardTitle2 {
  font-size: 2rem;
}
.cardAvatar{
  width: 150px;
  height: 150px;
  border-radius: .5rem;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cardDescription {
  font-family: 'Raleway', sans-serif;
}
.cardBtnActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardBtn {
  display: flex;
  gap: 1rem;
}
.cardSocial {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 800px){
  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    gap: unset;
    padding: 0 2rem;
  }
  .cardHeader {
    flex-direction: column;
    align-items: center;
  }
  .cardBtnActions{
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .cardAvatar{
    order: -1;
    width: 300px;
    height: 300px;
  }
  .cardSocial{
    margin-right: unset;
    gap: 3rem;
  }
  .cardTitle1 {
    font-size: 1.5rem;
  }
  .cardTitle2 {
    font-size: 1.5rem;
  }
}
