.main {
  padding: 3rem;
  font-family: 'Marcellus';
}
.projectsTitle {
  font-size: 3.5rem;
  font-weight: normal;
}
@media only screen and (max-width: 800px) {
  .projectsTitle {
    font-size: 2.5rem;
  }
}
